body {
    font-family: 'Roboto', sans-serif;
}

.home-page, .blog-page, .post-page {
    margin-top: 4.5rem;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signIn {
    font-size: 1.6rem;
    font-weight: 700;
}

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 80vh;
}

.avatar-dropdown{
    width: fit-content;
}

.logout-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    text-align: center;
    margin-top: 2rem;
}

.post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0;
}

.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    width: 100vh;
    margin-top: 4.5rem;
}

.post-head {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.post-info {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-labels {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 1.5%;
}

.post-image {
    cursor: pointer;
}

.submit-post {
    margin: 2rem 0;
}

.post-title {
    height: 35px;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-content {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4a4a4a;
}

.avatar-image {
    border-radius: 50%;
    margin-right: 0.5rem;
  }

.user-image {
    border-radius: 50%;;
}